<ion-view title="/game">
	<!-- <result-modal></result-modal> -->
    <!-- <menu-header></menu-header> -->
	<!-- <menu-button></menu-button> -->
    <ion-content ng-class="{'has-header':test.menuhide%2 !== 0}">
        <style>
            i.material-icons.gbutton{
                font-size: 54px;
                background-color: rgba(255, 255, 255, 0);
                color: rgba(255, 255, 255, 0.96);
            }
            i.material-icons.dark{
                /* font-size: 54px;
                background-color: rgba(255, 255, 255, 0); */
                color: rgba(3, 10, 25, 0.812) !important;
            }
            div.row.low{
                margin-bottom: -12px;
            }
            img{
                width: 90px;
                height: 90px;
                position: absolute;
                top: 31%;
                left: 38%;
                background-color: rgba(165, 165, 165, 0.6);
            }
            .background{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                filter: blur(30px);
                z-index: -5;
                background-image: url(https://scontent-yyz1-1.cdninstagram.com/t51.2885-15/e35/26301408_1076055922536906_4113977945377210368_n.jpg);
                background-position: center;
            }
            div.scroll{
                height:100%;
            }
        </style>
        <div class="background"></div>
        <div class="center-align" style="font-size: 18px;color:white;">
            <div class="row">
                <div class="col" style="margin-top:10px;">
                    Welcome to Mind tracker. Follow the pattern and select the circles in the exact same pattern
                </div>
            </div>
            
            <div class="animated" ng-class="{'shake': color === 'red'}" style="background-color:#f0f8ff00;position:relative">
                <img class="circle z-depth-2 animated flipInY" 
                ng-src="https://pbs.twimg.com/profile_images/897208353763491840/zdGjeFVl_400x400.jpg"
                ng-class="{'hide': !play}">
                <!-- <img class="circle z-depth-2" 
                ng-src="https://scontent-yyz1-1.cdninstagram.com/t51.2885-19/16583985_1830776947187218_8117990636189122560_a.jpg"
                ng-class="{'hide': !play}"> -->
                <div class="btn-play" style="background-color: #ffffff00;width: 90px;height: 90px;position: absolute;top: 31%;left: 38%;"
                    ng-class="{'hide': play}" ng-click="mindTracker(2)">
                    <i class="material-icons" 
                    style="font-size:88px;border-radius:100%;background-color: {{playcolor}};">play_circle_outline</i>
                </div>
                <div class="row low">
                        <div class="col" on-touch="collect(0)" >
                            <i tap-tap class="material-icons gbutton" ng-class="{'hide':button[0] == 'lens'}">panorama_fish_eye</i>
                            <i class="material-icons gbutton dark" ng-class="{'hide':button[0] == 'panorama_fish_eye'}">lens</i>
                        </div>
                </div>           
                <div class="row">
                    <div class="col col-50" on-touch="collect(1)">
                        <i tap-tap class="material-icons gbutton" ng-class="{'hide':button[1] ==  'lens'}">panorama_fish_eye</i>
                        <i class="material-icons gbutton dark" ng-class="{'hide':button[1] == 'panorama_fish_eye'}">lens</i>
                    </div>
                    <div class="col col-50" on-touch="collect(2)">
                        <i tap-tap class="material-icons gbutton" ng-class="{'hide':button[2] ==  'lens'}">panorama_fish_eye</i>
                        <i class="material-icons gbutton dark" ng-class="{'hide':button[2] == 'panorama_fish_eye'}">lens</i>
                    </div>
                </div>          
                <div class="row low">
                    <div class="col col-50" on-touch="collect(3)">
                        <i tap-tap class="material-icons gbutton" ng-class="{'hide':button[3] ==  'lens'}">panorama_fish_eye</i>
                        <i class="material-icons gbutton dark" ng-class="{'hide':button[3] == 'panorama_fish_eye'}">lens</i>
                    </div>
                    <div class="col col-50" on-touch="collect(4)">
                        <i tap-tap class="material-icons gbutton" ng-class="{'hide':button[4] ==  'lens'}">panorama_fish_eye</i>
                        <i class="material-icons gbutton dark" ng-class="{'hide':button[4] == 'panorama_fish_eye'}">lens</i>
                    </div>
                </div>          
                <div class="row">
                    <div class="col" on-touch="collect(5)">
                        <i tap-tap class="material-icons gbutton" ng-class="{'hide':button[5] ==  'lens'}">panorama_fish_eye</i>
                        <i class="material-icons gbutton dark" ng-class="{'hide':button[5] == 'panorama_fish_eye'}">lens</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col animated bounceIn" ng-class="{'hide':autoplay}">
                    <i ng-repeat="x in status track by $index" class="material-icons">{{status[$index]}}</i>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{news}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Level - {{level || 1}}
                </div>
            </div>
            <!-- <div class="row" ng-class="{'hide': play}">
                    <div class="card col btn btn-large list-me" ng-click="mindTracker(2)">Play</div>
            </div> -->

        </div>
    </ion-content>
</ion-view>
