<ion-view title="/carladash">
<carla-menu-header></carla-menu-header>
<menu-button></menu-button>
<ion-content ng-class="{'has-header':test.menuhide%2 !== 0}">
    <div class="container center-align">
      <row>
          <div class="col" style="margin-top:50px;">
              <div class="card-panel z-depth-1" style="margin-top:60px;">
                <div class="row">
<!--                    <img class="circle profile z-depth-3" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-1/p160x160/10888392_10153073531899736_2293866441272698715_n.jpg?oh=f6166190cf97f3fbaef5514d73598aea&oe=59A6B966">-->
                    <img class="circle profile z-depth-3" ng-src="https://scontent-yyz1-1.cdninstagram.com/vp/dd2cfe8e15d22e4fb8ea27999d242d79/5B567CB9/t51.2885-19/s150x150/29718251_220577748495201_5079051856928309248_n.jpg" >
                </div>
				<div class="clearfix"></div>
                <div class="row">
                    <!--<div class="col">Tokens</div>
                    <div class="col">Points</div> -->
					<div class="col">Welcome to carla kay's trivia game. Get the most points to win.</div>
                </div>                 

              </div>
          </div>
      </row>
        
      <row>
          <div class="card-panel" ng-class="{'hide':!mocha.playedAlready(prizeStartDate,prizeEndDate)}">
            <a class="btn btn-full btn-large waves-effect waves-light btn-black" ui-sref="/carlaleaderboard">
                Thank you for playing!!
            </a>
          </div>      
      </row>
        
      <!--<row>
          <div class="card-panel" ng-class="{'hide':wully === true}">
              <a ui-sref="/game" class="btn-green btn-floating btn-large waves-effect waves-light pulse"
                   ng-click="startTime()" disabled>
                    <i class="material-icons ">play_arrow</i>
              </a>
              <a class="btn btn-full btn-large waves-effect waves-light btn-green" ng-click="startPrize()" 
                 ng-disabled="wully === true">
                Prize Mode - $100 <i class="material-icons right">attach_money</i>
            </a>
          </div>
      </row>-->

      <row>
        <div class="card-panel">
            <a class="btn btn-full btn-large waves-effect waves-light" ng-click="startCarla()" 
            style="background-color:#171717"
            ng-disabled="mocha.playedAlready(prizeStartDate,prizeEndDate) || mocha.gameEnded(prizeEndDate)">
                Start Game
            </a>
        </div>      
      </row>

      <!-- <row>
            <div class="card-panel">
              <a class="btn btn-full btn-large waves-effect waves-light" ui-sref="/carlaprize"
                 style="background-color:#696767;">
                  Prizes
              </a>
          </div>      
      </row> -->

      <row>
          <div class="card-panel">
            <a class="btn btn-full btn-large waves-effect waves-light btn-carla" ui-sref="/carlaanswer">
                Answers
            </a>
        </div>      
      </row> 
        
    </div>    
</ion-content>
</ion-view>