<ion-view title="/lzgame">
	<lz-result-modal></lz-result-modal>
    <lz-menu-header></lz-menu-header>
	<menu-button></menu-button>
    <ion-content ng-class="{'has-header':test.menuhide%2 !== 0}">
        <div class="center-align">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-image">
                  <div class="progress" style="margin-top:0px;background-color:#dadcda;">
                      <div class="determinate btn-black" style="width: {{progress}}%"></div>
                  </div>
                  <div class="chip animated bounce" style="left:0;bottom:0;z-index:5;margin-left:5px;" 
                       ng-class="{hide:game.subcategory == ''|| show_points == true}">{{game.subcategory}}</div>
                  <img ng-src="{{game.url}}" ng-style="newstyle = (show_points == true)?{filter:'blur(10px)'}:null">
				  <div class="shield"></div>
                  <a class="btn-floating btn-large halfway-fab waves-effect waves-light btn-lz points-box"
                     ng-class="{'hide': show_points == true}">
                      <span>750 </span><span class="tiny-points">pts</span>
                  </a>
                  <a class="btn-floating btn-large halfway-fab waves-effect waves-light btn-green w3-animate-bottom points-box"
                     ng-class="{'hide': show_points !== true}">
                      <span>{{test.point_earned}}/750 </span><span class="tiny-points">pts</span>
                  </a>
                  <div class="qlayer" ng-class="{'hide':show_points == true || hide_question == true}" ng-bind-html="game.question" on-touch="hide_question = true" on-release="hide_question = false"></div>
                </div>
                <div class="card-content" style="padding-top: 50px;">
                  <p class="price" ng-click="inputShow()" ng-class="{hide:manualprice !== false}">
                      <span ng-class="{hide:isPredict() !== true}">$</span><span ng-class="{hide:mocha.safe(game.options)||show_radio}">{{test.price}}</span> {{game.context}} 
                      <span class="right"><i class="material-icons" ng-class="{hide:show_points == true||mocha.safe(game.options)||show_radio}">edit</i></span>
                  </p>
    
                  <div ng-class="{hide: manualprice !== true}">
                      <form name="myForm" ng-submit="submitPrediction()">
                          <input type="number" ng-model="test.second_price" format-price style="font-size:39px;">
                          <input type="submit" value="Submit" hidden>
                      </form>
                  </div>
                </div>
              </div>
            </div>            
        </div>
        <div class="row">
            <div class="col z-depth-2" style="padding-bottom:15px;margin-top:-8%;">
                <div class="progress" style="margin-top:0px;background-color:#dadcda;">
                    <div class="determinate btn-black" style="width: {{progress}}%"></div>
                </div>
                <form ng-class="{hide: show_points == true}" name="form">
                    <p class="range-field" ng-if="manualprice == false && !show_radio">
                      <input type="range" class="lz-range" min="{{game.min || 0}}" max="{{game.max || 500}}" ng-model="test.price" ng-change="switchUp(game)"/>
                    </p>
                    <div class="row" ng-if="show_radio">
                        <div class="col">
                            <input class="with-gap" name="group1" type="radio" id="test3" ng-model="test.price_radio" value="1"
                                   ng-click="radioFunc()"/>
                            <label for="test3" style="color:black;">Yes</label>
                        </div>
                        <div class="col">
                                <input class="with-gap" name="group1" type="radio" id="test4" ng-model="test.price_radio" value="0"
                                       ng-click="radioFunc()"/>
                                <label for="test4" style="color:black;">No</label>
                            </div>
                    </div>
                </form>
                <br>
                <a class="waves-effect waves-light btn-large btn-full z-depth-1 btn-black animated fadeIn"
                   ng-click="lzSubmit()" ng-disabled="show_radio && !mocha.safe(form.group1.$modelValue)"
                   ng-class="{'hide': show_points == true}" id="enter">
                    <span>ENTER</span>
                </a>
                <a class="waves-effect waves-light btn-large btn-full z-depth-1 btn-lz"
                   ng-class="{'hide': show_points !== true}"
				   ng-click="lzNextProduct()">
                    <span>NEXT</span> <i class="material-icons right">chevron_right</i>
<!--
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-white-only">
                              <div class="circle-clipper left">
                                <div class="circle"></div>
                              </div><div class="gap-patch">
                                <div class="circle"></div>
                              </div><div class="circle-clipper right">
                                <div class="circle"></div>
                              </div>
                            </div>
                      </div>
-->
                </a>
            </div>

        </div>
     </div>
    </ion-content>
</ion-view>
