<ion-view title="/dash">
<menu-header></menu-header>
<ion-content ng-class="{'has-header':test.menuhide%2 !== 0}">
    <menu-button></menu-button>
    <div class="container center-align">
      <row>
          <div class="col" style="margin-top:50px;">
              <div class="card-panel z-depth-1" style="margin-top:60px;">
                <div class="row">
                    <img class="circle profile z-depth-3" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-1/p160x160/10888392_10153073531899736_2293866441272698715_n.jpg?oh=f6166190cf97f3fbaef5514d73598aea&oe=59A6B966">
                </div>
                <div class="row">
                    <div class="col">Tokens</div>
                    <div class="col">Points</div>                            
                </div>                 

              </div>
          </div>
      </row>
      <row>
          <div class="card-panel">
              <!--<a ui-sref="/game" class="btn-green btn-floating btn-large waves-effect waves-light pulse"
                   ng-click="startTime()" disabled>
                    <i class="material-icons ">play_arrow</i>
              </a>-->
              <a class="btn btn-full btn-large waves-effect waves-light btn-green" ui-sref="/game" ng-click="startTime()" disabled>
                Prize Mode - $500 <i class="material-icons right">attach_money</i>
            </a>
          </div>
      </row>
      <row>
          <div class="card-panel">
            <a class="btn btn-full btn-large waves-effect waves-light btn-green" ui-sref="/game" ng-click="startTime()">
                Practice Mode <i class="material-icons right">games</i>
            </a>
        </div>      
      </row>
    </div>    
</ion-content>
</ion-view>