<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/materialize/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>
    <script src="lib/materialize/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/main.js"></script>
  </head>
  <body ng-app="starter" ng-cloack ng-controller="mCtrl">
    
    <!--<div class="mocha-modal" ng-class="{hide: test.hideModal == true}">
        <div class="mocha-modal-content w3-animate-bottom">
            <div style="width:100%;font-size: 25px">
                <p class=""><i class="fa fa-trophy"></i> Points: {{point_earned | number:0}}/7,500</p>
                <p class=""><i class="fa fa-clock-o"></i> Time: {{test.timePlayed}}</p>
                <p class=""><i class="fa fa-money"></i> Tokens: {{test.token}}</p>
                <a class="waves-effect waves-light main-color btn-large z-depth-4 center-align" ng-click="goContest()"
                   ng-class="{'main-color':wully !== true, 'wully-color':wully==true, 'hide':!prize && !wully}">Submit to win $100</a>
                <div style="position:absolute;bottom:0;width:100%;">
                    <a class="waves-effect waves-green btn-flat" ng-click="resetGame('practice',true)">Retry</a>
                    <a class="waves-effect waves-green btn-flat" ng-click="resetGame('practice')"
                       ng-class="{'hide':prize || wully}">Next Round</a>
                </div>
            </div>
        </div>
    </div>-->
    <ion-nav-view></ion-nav-view>
   
   
    
    
  </body>
</html>
