<div class="loader" style="padding-top: 0px;">
    <div class="center-align" style="margin-top:70px;position: relative;top: 0;left: 0;z-index: 10;width: 100%;
    height: 100%">
        <row>
            <div class="col">
                <div class="card-panel z-depth-1" style="margin-top:60px;">
                    <div class="row">
                        <a ng-click="goToControl()" >
                            <img class="circle profile z-depth-3" ng-src="https://pbs.twimg.com/profile_images/950744377034444801/5K_Ce0r-_400x400.jpg"
                            ng-class="{'pdx-green': isConnected, 'pdx-grey': !isConnected}">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col" ng-class="{'hide': isConnected}">Connecting...</div>
                        <div class="col" ng-class="{'hide': !isConnected}">Waiting for a question...</div>
                    </div>
                    <div class="row">
                        <div class="progress" style="margin-top:0px;background-color:#dadcda;">
                            <div class="indeterminate btn-sew"></div>
                        </div>
                    </div>
                    <div class="row" ng-class="{'hide': !commentDisplay}">
                        <div class="col" style="background-color:white;border:solid 1px #3bca3b;border-radius:30px;padding:5px">
                            <div class="col col-80">
                                <textarea style="background-color:white;color:grey;font-size: 16px;" ng-model="mocha.comment"
                                          placeholder="Send a question"></textarea>
                            </div>
                            <div class="col col-20">
                                <i class="material-icons" ng-class="{'hide': mocha.comment !== ''}"
                                   style="margin-top:20%;color:lightgrey;font-size: 30px;">send</i>
                                <i class="material-icons animated bounceIn" ng-click="sendComment()" ng-class="{'hide': mocha.comment === ''}"
                                   style="margin-top:20%;color:var(--sew);font-size: 30px;">send</i>
                            </div>
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 20px;" ng-repeat="z in metrics.metrics" 
                         ng-class="{'hide': !showMetrics}">
                        <div class="col col-30">{{z.name}}:</div>
                        <div class="col col-50">
                            <div class="progress" style="background-color:#dadcda;">
                                <div class="determinate btn-black" style="width:{{z.val}}%"></div>
                            </div>
                        </div>
                        <div class="col col-20">{{z.val}}%</div>    
                    </div>
                </div>
            </div>
        </row>
        <!-- <row>
            <div class="card-panel z-depth-1">
                <div class="row"  style="margin-top: 20px;" ng-repeat="z in metrics.metrics">
                    <div class="col col-30">{{z.name}}:</div>
                    <div class="col col-50">
                        <div class="progress" style="margin-top:0px;background-color:#dadcda;">
                            <div class="determinate btn-black" style="width:{{z.val}}%"></div>
                        </div>
                    </div>
                    <div class="col col-20">{{z.val}}%</div>    
                </div>
            </div>
        </row> -->
    <div>
</div>