<ion-view title="/sewdash">
<!-- <sew-menu-header></sew-menu-header> -->
<!-- <menu-button></menu-button> -->
<ion-content ng-class="{'has-header':test.menuhide%2 !== 0}">
    <div class="container center-align">
      <row>
          <div class="col" style="margin-top:50px;">
              <div class="card-panel z-depth-1" style="margin-top:60px;">
                <div class="row">
<!--                    <img class="circle profile z-depth-3" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-1/p160x160/10888392_10153073531899736_2293866441272698715_n.jpg?oh=f6166190cf97f3fbaef5514d73598aea&oe=59A6B966">-->
                    <img class="circle profile z-depth-3" ng-src="https://pbs.twimg.com/profile_images/912429520933707776/G1mvD_50_400x400.jpg" >
                </div>
				<div class="clearfix"></div>
                <div class="row">
                    <!--<div class="col">Tokens</div>
                    <div class="col">Points</div> -->
					<div class="col">Welcome to sew's trivia game. Get the most points to win $60 towards any sew product of your choice.</div>
                </div>                 

              </div>
          </div>
      </row>
        
      <row>
          <div class="card-panel" ng-class="{'hide':!mocha.playedAlready(prizeStartDate,prizeEndDate)}">
            <a class="btn btn-full btn-large waves-effect waves-light btn-black" ui-sref="/sewleaderboard">
                Thank you for playing!!
            </a>
          </div>      
      </row>

      <row>
        <div class="card-panel">
            <a class="btn btn-full btn-large waves-effect waves-light" ng-click="startSew()" 
            style="background-color:#171717"
            test-disabled="mocha.playedAlready(prizeStartDate,prizeEndDate) || mocha.gameEnded(prizeEndDate)">
                Start Game
            </a>
        </div>      
      </row>

      <row>
            <div class="card-panel">
                <a class="btn btn-full btn-large waves-effect waves-light btn-sew" ui-sref="/sewanswer">
                    Answers
                </a>
            </div>      
        </row> 
        
    </div>    
</ion-content>
</ion-view>