 <ion-view title="/contest">
	<!-- <menu-header ng-if="!fz && !dmz && !wully && !lz && !nls && !boro && !inlighten && !ryerson && !nudnik && !andela"></menu-header> -->
	<fz-menu-header ng-if="fz"></fz-menu-header>
	<dmz-menu-header ng-if="dmz"></dmz-menu-header>
	<wully-menu-header ng-if="wully"></wully-menu-header>
	<lz-menu-header ng-if="lz"></lz-menu-header>
	<nls-menu-header ng-if="nls"></nls-menu-header>
	<boro-menu-header ng-if="boro"></boro-menu-header>
	<inlighten-menu-header ng-if="inlighten"></inlighten-menu-header>
	<ryerson-menu-header ng-if="ryerson"></ryerson-menu-header>
	<nudnik-menu-header ng-if="nudnik"></nudnik-menu-header>
	<andela-menu-header ng-if="andela"></andela-menu-header>
	<menu-button></menu-button>
	<loader ng-class="{'hide': !loader}"></loader>
    <ion-content ng-class="{'has-header':test.menuhide%2 !== 0}">
        <div class="container center-align" style="margin-top:50px;">
            <row>
				<ul class="list animated" ng-class="{'fadeInUp': !loader}">
					<li class="item item z-depth-1" ng-click="getList()">
						<!--<label class="toggle">
						   <input type="checkbox">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						</label>-->
						<span class="badge badge-stable z-depth-1 hide">Top 20</span>
						<span class="left"><i class="material-icons">refresh</i></span>
					 Leaderboard - Top 20
					</li>
					<li class="item" ng-repeat="x in leaderList" ng-class="{'list-me': x.thisplayer, 'z-depth-4': x.thisplayer}">
						 <div class="row" style="margin-bottom:0px;">
							 <div class="col col-10" ng-if="$index !== 0"> {{$index + 1}}</div>
							 <div class="col col-10" ng-if="$index == 0"><i class="fa fa-trophy" style="font-size:22px"></i></div>
							 <div class="col col-60">{{x.name | limitTo:19}}<span ng-if="x.name.length > 19">...</span></div>
							 <div class="col" ng-if="x.points > 0">{{x.points| number:0}} Pts</div>
							 <div class="col" ng-if="x.points < 0">{{x.playtime}}</div>
						 </div>
					</li>
					<li class="item list-me z-depth-4" ng-class="{'hide': thisPlayer}">
						 <div class="row" style="margin-bottom:0px;">
							 <div class="col col-10">- -</div>
							 <div class="col col-60">{{player.name | limitTo:19}}<span ng-if="x.name.length > 19">...</span></div>
							 <div class="col"  ng-if="player[mocha.appName +'_points'] > 0">{{player[mocha.appName +'_points']| number:0}} Pts</div>
							 <div class="col"  ng-if="player[mocha.appName +'_points'] < 0">{{player[mocha.appName +'_playtime']}}</div>
						 </div>
					</li>
<!--
					<li class="item">
						 <div class="row" style="margin-bottom:0px;">
							 <div class="col col-10"> 15</div>
							 <div class="col col-60">Diana</div>
							 <div class="col">3,445 Pts</div>
						 </div>
					</li>
					<li class="item list-me z-depth-4">
						 <div class="row" style="margin-bottom:0px;">
							 <div class="col col-10"> 19</div>
							 <div class="col col-60">Olivia</div>
							 <div class="col">4,356 Pts</div>
						 </div>
					</li>
					<li class="item">
						 <div class="row" style="margin-bottom:0px;">
							 <div class="col col-10"> 20</div>
							 <div class="col col-60">Emily</div>
							 <div class="col">2,378 Pts</div>
						 </div>
					</li>
-->
					
				</ul>
               
			</row>
           
        
        </div>
        
    </ion-content>
</ion-view>