<ion-view title="/tutorial">
    <ion-content scroll="false">
        <ion-slides  options="{loop: false,effect: 'slide',speed: 500}" slider="slider">
          <ion-slide-page>
            <div class="box" style="background-color:#f8f9f8">
              <!-- <h1>BLUE</h1> -->
              <img src="https://i.gyazo.com/99fec92987961e194b507b192bc32962.gif" style="height:400px;"/>
              <a class="btn main-color" ng-click="mocha.goDash(slider)">Start</a> 
            </div>           
          </ion-slide-page>
          <ion-slide-page>
            <div class="box yellow">
              <h1>YELLOW</h1>
              <a class="btn main-color" ng-click="mocha.goDash(slider)">Start</a>   
            </div>         
          </ion-slide-page>
          <ion-slide-page>
            <div class="box pink">
                <h1>PINK</h1>
                <a class="btn main-color" ng-click="mocha.goDash(slider)">Start</a>
            </div>
          </ion-slide-page>
        </ion-slides>
      </ion-content>
</ion-view>