<ion-view title="/winner">
    <menu-header></menu-header>
	<loader ng-class="{'hide': !loader}"></loader>
	<menu-button></menu-button>
    <ion-content ng-class="{'has-header':test.menuhide%2 !== 0}">
        <div class="center-align">
          
          <div class="row" ng-repeat="x in winnerList">
            <div class="col">
              <div class="card">
                <div class="card-image">
                  <div class="progress" style="margin-top:0px;background-color:#dadcda;">
                      <div class="determinate btn-grey" style="width: 100%" 
                           ng-class="{'btn-green':prize === true, 'btn-black':wully==true, 'btn-grey': practice === true}"></div>
                  </div>
                  <div class="chip" style="left:0;bottom:0;z-index:5;margin-left:5px;">@{{x.user}} - $100</div>
                  <img ng-src="{{x.url}}">
                  
                  
                  
				  
                </div>
				
               
              </div>
            </div>            
        </div>
     </div>
    </ion-content>
</ion-view>
