/* Empty. Add your own CSS if you like */
.w3-animate-right{
    position:relative;
    animation:animateright 0.4s
}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

.w3-animate-bottom{
  position:relative;
  -webkit-animation:animatebottom 0.4s;
  animation:animatebottom 0.4s
}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

:root{
  --odessu: #0071bc;
}
body {
  text-transform: capitalize;
  border-top: 5px;
  border-top-color: rgba(166, 22, 173, 0.9);
  border-top-style: solid;
}
h1 {
/*
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  letter-spacing: 9px;
  font-size: 100px;
*/
  font-family: roboto;
  font-weight: 200;
  letter-spacing: 9px;
  font-size: 70px;
  color: rgba(135, 14, 140, 0.9);
  text-shadow: 7px 2px rgb(245, 245, 245);
}
a.facebook, a.facebook:hover {
  background-color: #3b5998;
}
.sp{
  padding-bottom: 60%;
}
span.card-title {
  color: black !important;
}
.main-color,main-color:hover {
  background-color:  rgba(202, 26, 210, 0.9) !important;
}
.wully-color,wully-color:hover {
  background-color:  rgba(249, 53, 71, 0.91) !important;
}
.dmz-color,dmz-color:hover {
  background-color:  #00b3f0 !important;
}
.btn-green,btn-green:hover {
  background-color:  rgba(83, 191, 83, 0.91) !important;
}
.btn-black,btn-black:hover {
  background-color:  rgba(16, 16, 16, 0.9) !important;
}
.btn-grey,btn-grey:hover {
  background-color:  #969696 !important;
}
.btn-dmz,btn-dmz:hover {
  background-color:  #00b3f0 !important;
}
.btn-full {
  width: 100%;
}
.profile {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 37%;
  background-color: rgba(165, 165, 165, 0.6);
}
@media only screen and (min-width: 601px){
  .profile{
    left: 43%;
  }
  .btn-menu{
    right:-3% !important;
  }
}
.btn-menu {
position: fixed;
/*right: 5%;
bottom: 3%;*/
right: -6%;
top: 3%;
z-index: 10;
padding-top: 5px;
color: white;
margin: 10px 15px 20px 0px;
border-radius: 5px;
padding-right: 10px;
}
.price {
  font-size: 40px;
}
.tiny-points {
  font-size: 8px;
}
.motto {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}
.card-panel {
  background-color: rgba(251, 251, 251, 0.46) !important;
}
.userView {
  border-bottom-style: solid;
  border-bottom-color: #ff6081;
}
input[type=range]{
    height: 30px;
    margin: 7px 0 0 0;
}
input[type=range]::-webkit-slider-thumb {
background-color: rgba(202, 26, 210, 0.9);
height: 30px;
width: 30px;
margin-top: -12px;
}
input[type=range].wully-range::-webkit-slider-thumb {
background-color: rgba(224, 24, 43, 0.91);
height: 30px;
width: 30px;
margin-top: -12px;
}
input[type=range].dmz-range::-webkit-slider-thumb {
  background-color: #00b3f0;
  height: 30px;
  width: 30px;
  margin-top: -12px;
}
input[type=range].lz-range::-webkit-slider-thumb {
  background-color: #ef4319;
  height: 30px;
  width: 30px;
  margin-top: -12px;
}
input[type=range]::-moz-range-thumb {
background-color: rgba(202, 26, 210, 0.9);
}
input[type=range].wully-range::-moz-range-thumb {
background-color: rgba(224, 24, 43, 0.91);
}
input[type=range].dmz-range::-moz-range-thumb {
  background-color: #00b3f0;
}
input[type=range].lz-range::-moz-range-thumb {
  background-color: #ef4319;
}
input[type=range]::-ms-thumb {
background-color: rgba(202, 26, 210, 0.9);
}
input[type=range].wully-range::-ms-thumb {
background-color: rgba(224, 24, 43, 0.91);
}
input[type=range].dmz-range::-ms-thumb {
  background-color: #00b3f0;
}
input[type=range].dmz-range::-ms-thumb {
  background-color: #ef4319;
}
input[type=range]+.thumb.active {
display: none;
}
.points-box {
width: 96px !important;
border-radius: 8%;
height: 56px;
}
.card-image img{
max-height: 300px !important;
width: auto !important;
margin: auto !important;
}
.chip{
  background-color: rgb(243, 243, 243);
  position: absolute;
  left: 35%;
}
.col a {
    color: white;
}
.mocha-modal{
    position:absolute;
    left:0;
    top:0;
    z-index:11;
    width:100%;
    height:100%;
    display:flex;
    padding:5px;
    background-color:rgba(0, 0, 0, 0.66);
}
.mocha-modal-content{
    margin: 6%;
    display: flex;
    height: 45%;
    width: 100%;
    background-color:#fafafa;
    border-radius:15px;
    padding:24px;
}
.btn-tfw{
    background-color:#4a3b34;
}
.wully,.qlayer{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 60px 0px;
    background-color: rgba(62, 62, 62, 0.67);
    color: white;
    height: 320px;
    font-size: 24px;
    line-height: 44px;
}
.spinner-white-only{
    border-color: white;
}
.spinner-purple-only{
    border-color: rgba(202, 26, 210, 0.9);
}
.btn-gold{
    background-color: #d2b935;
}
.hasError{
	background-color: #ffe7e7 !important;
}
li.item{
	margin: 10px 0;
}
.list-me, .footnote {
  color: white;
  background: linear-gradient(135deg,#cf30d6,red);
}
.loader{
	height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    background-color: white;
	padding-top: 30%;
}
.spinner svg{
    width: 100px !important;
    height: 100px !important;
	fill: #b43fba !important;
	stroke: #b43fba !important;
}
.btn-fz{
	background-color: #f64348 !important;
}
.shield{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.box{
  height: 100%
}
.btn-lz{
  background-color:#ef4319 !important;
}
.btn-nls{
  background-color: #5C96CE !important;
}
input[type=range].nls-range::-webkit-slider-thumb {
  background-color: #5C96CE;
  height: 30px;
  width: 30px;
  margin-top: -12px;
}
input[type=range].nls-range::-moz-range-thumb {
  background-color: #5C96CE;
}
input[type=range].nls-range::-ms-thumb {
  background-color: #5C96CE;
}
.btn-boro{
  background-color: #008489 !important;
}
input[type=range].boro-range::-webkit-slider-thumb {
  background-color: #008489;
  height: 30px;
  width: 30px;
  margin-top: -12px;
}
input[type=range].boro-range::-moz-range-thumb {
  background-color: #008489;
}
input[type=range].boro-range::-ms-thumb {
  background-color: #008489;
}
.btn-inlighten{
  background-color: #fe4d00 !important;
}
input[type=range].inlighten-range::-webkit-slider-thumb {
  background-color: #fe4d00;
  height: 30px;
  width: 30px;
  margin-top: -12px;
}
input[type=range].inlighten-range::-moz-range-thumb {
  background-color: #fe4d00;
}
input[type=range].inlighten-range::-ms-thumb {
  background-color: #fe4d00;
}
.btn-ryerson{
  background-color: #0089cf !important;
}
input[type=range].ryerson-range::-webkit-slider-thumb {
  background-color: #0089cf;
  height: 30px;
  width: 30px;
  margin-top: -12px;
}
input[type=range].ryerson-range::-moz-range-thumb {
  background-color: #0089cf;
}
input[type=range].ryerson-range::-ms-thumb {
  background-color: #0089cf;
}
.btn-nudnik{
  background-color: #f0595d !important;
}
.btn-andela{
  background-color: #3359df !important;
}
@media only screen and (min-width: 768px){
  /* playable on computer/laptop screen */
  ion-content{
      margin: 0 20%;
  }
  .btn-menu{
    padding-right: 30px;
  }
}
.btn-odessu{
  background-color: var(--odessu) !important;
}
input[type=range].odessu-range::-webkit-slider-thumb {
  background-color: var(--odessu);
  height: 30px;
  width: 30px;
  margin-top: -12px;
}
input[type=range].odessu-range::-moz-range-thumb {
  background-color: var(--odessu);
}
input[type=range].odessu-range::-ms-thumb {
  background-color: var(--odessu);
}